.notation {
  font-family: "Helvetica Neue";
  z-index: 3;
  position: absolute;
  font-size: 10px;
  color: rgb(240, 217, 181);
}

.fileNotation {
  @extend .notation;
  align-self: flex-end;
}
.rankNotation {
  @extend .notation;
  align-self: flex-start;
}

.lightSquare {
  color: rgb(181, 136, 99);
}
